<!DOCTYPE html>
<html>
<%- partial('_partials/head') %>
<body>
  <%- partial('_partials/header', null, {cache: !config.relative_link}) %>
  <%- body %>
  <%- partial('_partials/scripts') %>
</body>
</html>
