<header class="page-header">
  <nav class="nav nav--main">
    <ul class="nav-list">
      <li class="nav-item"><a href="<%= config.root %>" class="nav-link"><%= __('title') %></a></li>
      <li class="nav-item"><a href="<%= config.root + config.archive_dir %>" class="nav-link"><%= __('archive') %></a></li>
    </ul>
  </nav>
</header>
