// layout
html {
  font-size: @font-size--html;
}
body {
  background-color: @background-color--body;
  color: @color--body;
}
.container {
  background: @color-temp;
  width: @width--container;
  max-width: @max-width--container;
  .margin-center();
}

// typography
